/*Loaction component styles*/
.AppContainer header {
	font: normal 20px Arial;
	padding: 30px;
	color: #EEEEEE;
}
.AppContainer form {
	margin: 0;
	display: flex;
	flex-direction: column-reverse;
	-webkit-transition: all 500ms cubic-bezier(0.785, 0.170, 0.375, 0.845);
	-moz-transition: all 500ms cubic-bezier(0.785, 0.170, 0.375, 0.845);
	-o-transition: all 500ms cubic-bezier(0.785, 0.170, 0.375, 0.845);
	transition: all 500ms cubic-bezier(0.785, 0.170, 0.375, 0.845);
		flex-direction: row;
		flex-wrap: wrap;
}
.AppContainer header.active form {
	justify-content: center;
}
.AppContainer header strong {
	font-size: 24px;
	display: block;
	color: #FFFFFF;
}
.AppContainer header form button {
	display: none;
}
.AppContainer header.active form button {
	display: initial;
	background: transparent;
}
.AppContainer header form .select-box {
	position: relative;
}
.AppContainer header.active form .select-box {
	margin: 4px;
	border-radius: 8px;
	background: #F8F8F8;
	display: inline-block;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);
	-webkit-transition: all 500ms cubic-bezier(0.785, 0.170, 0.375, 0.845);
	-moz-transition: all 500ms cubic-bezier(0.785, 0.170, 0.375, 0.845);
	-o-transition: all 500ms cubic-bezier(0.785, 0.170, 0.375, 0.845);
	transition: all 500ms cubic-bezier(0.785, 0.170, 0.375, 0.845);
}
.AppContainer header.active form .select-box:before {
	content: '';
	width: 47px;
	height: 100%;
	top: 0;
	right: 0;
	background: transparent;
	pointer-events: none;
	position: absolute;
}
.AppContainer header.active form .select-box:after {
	content: "\f0d7";
	font-family: FontAwesome;
	font-size: 20px;
	color: #818181;
	letter-spacing: 0;
	line-height: 17px;
	right: 17px;
	top: 14px;
	pointer-events: none;
	position: absolute;
}
.AppContainer header form .select-box select {
	border: none;
	box-shadow: none;
	font: normal 20px Arial;
	color: #EEEEEE;
	cursor: pointer;
	background: transparent;
	background-image: none;
	-webkit-appearance: none
}
.AppContainer header form .select-box.state-box select {
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;
}
.AppContainer header.active form .select-box select {
	padding: 14px 54px 14px 18px;
	width: 100%;
	font-weight: normal;
	font-size: 14px;
	color: #AAAAAA;;
	outline: none;
	-webkit-transition: all 500ms cubic-bezier(0.785, 0.170, 0.375, 0.845);
	-moz-transition: all 500ms cubic-bezier(0.785, 0.170, 0.375, 0.845);
	-o-transition: all 500ms cubic-bezier(0.785, 0.170, 0.375, 0.845);
	transition: all 500ms cubic-bezier(0.785, 0.170, 0.375, 0.845);
}
.AppContainer header form .submit-box {
	height: 0;
	overflow: hidden;
	-webkit-transition: all 500ms cubic-bezier(0.785, 0.170, 0.375, 0.845);
	-moz-transition: all 500ms cubic-bezier(0.785, 0.170, 0.375, 0.845);
	-o-transition: all 500ms cubic-bezier(0.785, 0.170, 0.375, 0.845);
	transition: all 500ms cubic-bezier(0.785, 0.170, 0.375, 0.845);
}
.AppContainer header.active form .submit-box {
	height: 63px;
}
.AppContainer header.active form .submit-box button {
	cursor: pointer;
	display: initial;
	font-weight: normal;
	font-size: 14px;
	padding: 14px 68px;
	color: #FFFFFF;
	border-radius: 6px;
	background: #1abc9c;
	border-color: #17a689;
	margin: 8px;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.AppContainer header.active form .submit-box button:hover,
.AppContainer header.active form .submit-box button:focus,
.AppContainer header.active form .submit-box button:active {
	color: #FFFFFF;
	background-color: #15987e;
	border-color: #0f705d;
}
